@media screen and (max-width: 768px) {
    .form {
        width: 100%;
        &__container {
            width: 98%;
            margin: 0 auto;
            &__title {
                text-align: center;
                margin: 50px 0 20px 0;
                font-size: 28px;
                color: #737373;
            }
            &__recruit {
                width: 100%;
                &__title {
                    font-size: 16px;
                    border: 1px solid #e85298;
                    padding: 5px 10px 5px 10px;
                    color: #e85298;
                    font-weight: normal;
                    margin-top: 40px;
                    margin-bottom: 20px;
                }
                &__text {
                    font-size: 14px;
                    color: #666666;
                }
                &__must {
                    font-size: 14px;
                    color: #333333;
                    font-weight: normal;
                    margin-top: 20px;
                    &__list {
                        color: #333333;
                        &_pink {
                            font-weight: nomal;
                            color: #e85298;
                        }
                    }
                    &__outline {
                        margin: 16px 0 12px 0;
                        font-size: 13px;
                        list-style: none;
                        background-color: #f2f0f0;
                        padding: 16px 24px;
                        border-radius: 24px;
                    }
                    &__link {
                        color: #e85298;
                        text-decoration: underline;
                    }
                }
                &__input {
                    width: 100%;
                    &__title {
                        display: block;
                        width: 100%;
                        font-size: 14px;
                        color: #666666;
                        font-weight: 600;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                    &__title::after {
                        vertical-align: middle;
                        content: '*';
                        font-size: 25px;
                        font-weight: normal;
                        color: #e85298;
                        margin-left: 3px;
                        display: inline-block;
                    }
                    &__name {
                        display: block;
                        & label {
                            display: block;
                            width: 100%;
                            font-size: 14px;
                            color: #666666;
                            font-weight: 600;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                        & label::after {
                            vertical-align: middle;
                            content: '*';
                            font-size: 25px;
                            font-weight: normal;
                            color: #e85298;
                            margin-left: 3px;
                            display: inline-block;
                        }
                        & input {
                            display: block;
                            width: 95%;
                            height: 36px;
                            font-size: 14px;
                            padding-left: 10px;
                            margin-bottom: 10px;
                            line-height: 1.4;
                            color: #666666;
                            background-color: #fff;
                            background-image: none;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                        }
                    }
                    &__sex {
                        & select {
                            appearance: none;
                            height: 34px;
                            border-radius: 4px;
                            outline: none;
                            font-size: 14px;
                            line-height: 1.0rm;
                            color: #666666;
                            padding: 0 30px 0 15px;
                        }
                    }
                    &__prefecture {
                        & select {
                            appearance: none;
                            height: 34px;
                            border-radius: 4px;
                            outline: none;
                            font-size: 14px;
                            line-height: 1.0rm;
                            color: #666666;
                            padding: 0 30px 0 15px;
                        }
                    }
                }
            }
        }
    }
}
